<a href="https://colab.research.google.com/github/somu-analyst/Python_Learning/blob/main/Python_Traning_Basics_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=10
a**2

100

In [ ]:
#Python is a dynamically typed languague - no need to define a variable as char or numeric

In [11]:
#Program to demonstrate the operators
#Assignment with Identifiers
A=100
NAME = "SOMU"
SAL = 10000

print("no is ",A)
print("name is",NAME)
print("Sal is",SAL)

#one more syntax for printing
print("Number is {} who name is {} and salary is {}".format(A,NAME,SAL))

no is  100
name is SOMU
Sal is 10000
Number is 100 who name is SOMU and salary is 10000